<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>
<div id = "clientProfile">
    <h2>
        My Profile
    </h2>


        <p th:text ="${name}">Default Name (AKA persony mcpersonface)</p>
        <p th:text ="${skinType}">Default Skintype (scaly)</p>
        <p th:text ="${manipedi}">Default Manipedi (talon scraping)</p>

</div>
<div id = "servicesMenu">

    <table>
        <th>Facial Options</th>
        <th:block th:each="facial: ${facials}">
        <tr></tr>
        <tr>
            <td th:text="${facial}">Test Data
            </td>
        </tr>
    </table>
    <div>
        <div th:if="${manipedi.equals('manicure')}">
            <h3 >
                Manicure!
            </h3>
            <p th:replace="fragments::manicureDescription">Default

            </p>
        </div>



        <div th:if="${manipedi.equals('pedicure')}">
            <h3 >
                Pedicure!
            </h3>
            <p th:replace="fragments::pedicureDescription">Default

            </p>
        </div>

    </div>
</div>

</body>
</html>